a {
	text-decoration: none;
	color: #484848;
}

#nav {
	padding: 0 1em; 
	background: white;
	width:100%;
}

.landing #nav {
	background-color: rgba(256,256,256,0.2);
}

#nav div {
	display: inline-block;
	vertical-align: middle;
}

#header nav .nav-droite ul {
float: right;
}

.text-gauche {
	line-height: 1em;
}

.logo-milieu {
	text-align: center;
}
.logo-milieu img{
	width: 50px;
}


#banner img {
max-width: 50em;
background:white;
padding: 5em;
}

.intro-r {
	color: #e74632;
}

h1 {
	font-size: 3em;
	color: #e74632;
}

#map {
	height: 600px;
	min-width: 80%;
};

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

th select, th p{
	background-color: #e74632;
	  font-variant: small-caps;
	  color: white;
	  	  display: inline;
	  padding: 3px 3px;
text-align: center;
height: 2em;
vertical-align: middle;
font-size: 1em;
line-height: 1em;
}

th select {
	width: auto;
}
th select:hover {
	cursor: pointer; 
}


tr p {
	max-height: 300px;
	overflow: hidden;
}

.description {
		min-width: 75%;	
        max-height:300px;
        overflow: hidden;
    }
.description h3 {
	color: #e74632;
}

#footer ul a, .legal a {
	color: white;
}


#footer .container div {
	display:inline-block;
	vertical-align: top;
}

.presse {
	transform: rotate(-10deg);
	font-size: 2em;
	line-height: 2em;
	padding: 0.5em;
	margin: 1em;
	background:white;
	border-radius: 90px / 50px;
	-webkit-border-radius: 90px / 50px;
	-moz-border-radius:    90px / 50px;
}

.social, .acteurs {
margin: 3em 5em 0 0;
}

.presse a, .participant a {	
	color: #e74632;	
	line-height: 1em;
}

.legal a{
	font-weight: 300;
}

.participant {
	margin: 3em 6em 0 0;
	font-size: 2em;
	padding: 0.5em;
	color: #ce3728;
	background:white;
	transform: rotate(5deg)
}

@media screen and (max-width: 980px) {
	#event-list td, th {
		display: inline;
	}

	#event-list .date {
		display: none;
	}
}