a {
	text-decoration: none;
	color: #324b4b;
}

#nav {
	padding: 0 1em; 
	width:100%;
}

#nav div ul li a {
	font-size: 1.2em;
	line-height: 1.2em;
}

#nav a:hover, #nav a:active {
	color: #e74632;
}

.nav-droite {
	margin-top: 1em;
	text-transform: uppercase;
}

.text-gauche, .logo-milieu {
	vertical-align: top;
	margin-top: 2em;
}

.up {
	text-transform: uppercase;
}

.landing .logo-milieu {
	visibility: hidden;
}

#nav div {
	display: inline-block;
	margin-top: : 1em;
}

#header nav .nav-droite ul {
	float: right;
}

.text-gauche {
	line-height: 1em;
}

.logo-milieu {
	text-align: center;
}
.logo-milieu {
	height: 56px;
}

.logo-milieu img{
	width: 100px;
}

#banner div {
	margin:auto;
	width: 70%;
	max-width: 1200px;
	background:white;
	padding: 5em;
}

#banner div img {
	margin-bottom: 2em;
}

#banner h1 {
	font-size: 3vw;
	margin:0 0 0.5em 0;
}
.container{
max-width: 90%;
}

.intro-r {
	color: #e74632;
}

h1 {
	font-size: 5em;
	color: #e74632;
}

h3 {
	color: #e74632;
}

#map {
	height: 600px;
	min-width: 75%;
};

.mapboxgl-popup {
	max-width: 400px;
}

.mapboxgl-popup-content p {
	font-family: "Source Serif Pro", Arial, Helvetica, serif;
}


.filter-group {
	font-size: 1em;
	line-height:1.5em;
	list-style: none;
	background-color: #f7f7f7;
	padding:1em;
	position: absolute;
	bottom: 0px;
	right: 10px;
	z-index: 1;
	border-radius: 3px;
}

.filter-group li a{
font-family: Liberation Sans;
font-size: 1em;
}

.filter-group img {
	height: 1em;
	margin-right: 5px;
}


th select, th p{
	background-color: #e74632;
	text-transform: uppercase;
	color: white;
	display: inline;
	padding: 3px 5px;
	text-align: center;
	height: 2em;
	vertical-align: middle;
	font-size: 1em;
	line-height: 1em;
}

th select {
	width: auto;
}
th select:hover {
	cursor: pointer; 
}

tr h3 {
	margin-bottom:0;
}

tr p {
	max-height: 300px;
	overflow: hidden;
}

.description {
	min-width: 40%;	
	max-height:300px;
	overflow: hidden;
	padding-left:0;
}
.description h3 {
	color: #e74632;
	text-transform: uppercase;
}

#footer ul a, .legal a {
	color: white;
}


#footer .container div {
	display:inline-block;
	vertical-align: top;
}

.presse {
	transform: rotate(-10deg);
	font-size: 1.5em;
	padding: 1em;
	margin: 1em;
	background:white;
	border-radius: 90px / 50px;
	-webkit-border-radius: 90px / 50px;
	-moz-border-radius:    90px / 50px;
}

.footer-left {
	width:40%;
}
.footer-right {
	width:59%;
}
.social, .acteurs {
	float: right;
	margin: 3em 3em 0 0;
}

.social ul {
	list-style: none;
	font-size:1.2em;
}

.presse a, .participant a {	
	color: #e74632;	
	line-height: 1em;
}

.legal {
	font-family: Source Serif Pro;
	font-size: 0.8em;
}

.participant {
	margin: 3em 1em 0 0;
	font-size: 1.5em;
	padding: 0.5em;
	color: #ce3728;
	background:white;
	transform: rotate(5deg)
}

#footer .acteurs img {
	height: 30px;
}
@media screen and (max-width: 1300px) {
	.footer-left, .footer-right {
		width: 100%;
		text-align: center;
	}
	.footer-right div {
		float: none;
	}

@media screen and (max-width: 980px) {
	#event-list td, th {
		display: inline;
	}

	#event-list .date {
		display: none;
	}

	#banner {
		padding-top:0;
		margin-top: 58vw;
	}
	#banner div {
		width: 100%;
	}
	#banner div img {
		margin-top: -60vw;
	}
	.footer-left, .footer-right {
		width:auto;
		margin-left:20%;
	}

	.fa-navicon::before, .fa-reorder::before, .fa-bars::before {
		content: <img src="images/sas-logo.svg">;
	}

	.navPanelToggle img {
		background: white;
		padding: 0.5em;
		margin: 2em;
		width: 6em;
		border-radius: 5px;
		float: right;
	}

	#banner h4 {
		position: absolute;
		top: 2em; 
	}

	#banner h1 {
		margin:0;
		font-size: 1.5em;
		text-transform:none;
		color: #324b4b;
	}

	#navPanel div {
		width:80%;
	}
}

#manifeste li div{
	font-size: 1.5em;
	display: inline-block;
}

#manifeste .rotate {
	color: white;
	background-color: #e74632;
	padding: 0em 0.5em;
	margin: 0 1em;
	transform: rotate(10deg);
	border-radius: 50px / 35px;
	-webkit-border-radius: 50px / 35px;
	-moz-border-radius: 50px / 35px;
}

#manifeste .rotate2 {
	color: white;
	background-color: #e74632;
	padding: 1em 0.5em;
	margin: 0 1em;
	transform: rotate(-10deg);
	border-radius: 90px / 58px;
	-webkit-border-radius: 90px / 58px;
	-moz-border-radius: 90px / 58px;
}

#acteurs h3 {
	margin-top: 2em;
	margin-bottom: 0;
}