.wrapper:first-of-type {
	margin-top : 10em;
}

a {
	text-decoration: none;
	color: #324b4b;
}

p.ind {
	text-indent: 2em;
}

#nav {
	width:100%;
}

#nav div ul li a {
	font-size: 1.2em;
	line-height: 1em;
}

#nav a:hover, #nav a.active {
	color: #e74632;
}

.nav-droite {
	margin-top: 1em;
	text-transform: uppercase;
}

.text-gauche, .logo-milieu {
	vertical-align: top;
	margin: 2em 0 0 2em;
}

.text-gauche ul {
	max-width: 425px;
}

.up {
	text-transform: uppercase;
}

.landing #nav .logo-milieu {
	visibility: hidden;
}

#nav div {
	display: inline-block;
	margin-top: : 1em;
}

#header nav .nav-droite ul {
	float: right;
}

.text-gauche {
	line-height: 1em;
}

.logo-milieu {
	height: 56px;
}

.logo-milieu img{
	width: 100px;
}

#banner div {
	margin:auto;
	width: 60%;
	max-width: 1200px;
	background:white;
	padding: 3em;
}

#banner div img {
	margin-bottom: 2em;
}

#banner h1 {
	font-size: 3vw;
	margin:0 0 0.5em 0;
}
.container{
max-width: 90%;
}

.intro-r {
	color: #e74632;
}

h1 {
	font-size: 4em;
	color: #e74632;
}

h3 {
	color: #e74632;
}

#map {
	height: 600px;
	min-width: 75%;
};

.mapboxgl-popup {
	max-width: 400px;
}

.mapboxgl-popup-content p {
	font-family: "Source Serif Pro", Arial, Helvetica, serif;
}


.filter-group {
	font-size: 1em;
	line-height:1.5em;
	list-style: none;
	background-color: #f7f7f7;
	padding:1em;
	position: absolute;
	bottom: 0px;
	right: 10px;
	z-index: 1;
	border-radius: 3px;
}

.filter-group li a{
font-family: Liberation Sans;
font-size: 1em;
}

.filter-group img {
	height: 1em;
	margin-right: 5px;
}


th select, th p{
	background-color: #e74632;
	text-transform: uppercase;
	color: white;
	display: inline;
	padding: 3px 5px;
	text-align: center;
	height: 2em;
	vertical-align: middle;
	font-size: 1em;
	line-height: 1em;
}

th select {
	width: auto;
}
th select:hover {
	cursor: pointer; 
}

#event-list a.list {
	display: none;
}

tr h3 {
	margin-bottom:0;
}

tr p {
	max-height: 300px;
	overflow: hidden;
	margin-top: 0.5em;
}

.description {
	min-width: 40%;	
	max-height:300px;
	overflow: hidden;
	padding-left:0;
}
.description h3 {
	color: #e74632;
	text-transform: uppercase;
}

.orga-text {
	margin-bottom: 0;
}
.orga-button {
	text-align: center;
}

#acteurs img {
	padding-left: 5em;
}

#acteurs p {
	margin-bottom: 1em;
	padding-left: 5em;
}

@media screen and (min-width: 1280px) {

	#footer .container {
		max-width: 1300px;
	}
}

#footer ul a, .legal a, .acteurs p, .partners p {
	color: white;
	font-size: 0.8em;
}


#footer .container div {
	display:inline-block;
	vertical-align: top;
}

#footer ul, #footer li {
	padding-left: 0;
}

.presse {
	transform: rotate(-10deg);
	font-size: 1em;
	padding: 1.2em 1.5em;
	margin: 1em;
	background:white;
	border-radius: 4em / 2em;
	-webkit-border-radius: 4em / 2em;
	-moz-border-radius:    4em / 2em;
}

.footer-left {
	width:33%;
}
.footer-right {
	width:66%;
}

.social {
	margin-top: 2.7em !important;
}

@media screen and (min-width: 720px) {
	.footer-right div {
		float: right;
		margin: 3em 3em 0 0;
	}
}

@media screen and (max-width: 720px) {
	.footer-right div {
		width: 100%;
	}
}

.social ul {
	list-style: none;
	font-size:1.2em;
	line-height:1.2em;
}

.presse a, .participant a {	
	color: #e74632;	
	line-height: 1em;
}

.legal {
	font-family: Source Serif Pro;
	font-size: 0.8em;
}

.participant {
	margin: 3em 1em 0 0;
	font-size: 1em;
	padding: 0.5em;
	color: #ce3728;
	background:white;
	transform: rotate(5deg)
}

#footer .acteurs img {
	height: 30px;
}
@media screen and (max-width: 1280px) {
	.footer-left, .footer-right {
		width: 100%;
		text-align: center;
	}
	.footer-right div {
		float: none;
	}
}

@media screen and (max-width: 980px) {
	.wrapper:first-of-type {
		margin-top: 3em;
	}

	h1 {
		font-size: 2.5em;
	}
	#banner div {
		margin:auto;
		width: 70%;
		max-width: 1200px;
		background:white;
		padding: 2em;
	}

	#banner h4 {
		font-size: 0.8em;
		max-width: 21em;
	}


	#event-list td, th {
		display: inline;
	}

	tbody:before {
		content: '';
		display: block;
		height: 20px;
	}
	
	#event-list th {
		padding:0;
	}

	#event-list tr a, thead .date, thead .name {
		display: none;
	}

	#event-list tr a.list {
		display: block;
	}

	#banner {
		padding-top:0;
		margin-top: 58vw;
	}
	#banner div {
		width: 100%;
	}
	#banner div img {
		margin-top: -60vw;
		padding-top: 5em;
		margin-bottom: 0;
	}

	h2 {
		font-size:1.5em;
	}

	.fa-navicon::before, .fa-reorder::before, .fa-bars::before {
		content: <img src="images/sas-logo.svg">;
	}

	.navPanelToggle img {
		background: white;
		padding: 0.5em;
		margin: 1em;
		width: 4em;
		border-radius: 5px;
		float: right;
	}

	#banner h4 {
		position: absolute;
		top: 2em; 
	}

	#banner h1 {
		margin:0;
		font-size: 0.8em;
		text-transform:none;
		color: #324b4b;
	}

	#navPanel div {
		width:80%;
	}

	.footer-left {
		display: none !important;
	}

	.footer-right div {
		padding: 0;
	}

	.footer-right div img {
		max-height: 2em;
	}
}

#reflexions h3 {
	margin-bottom: 0;
}

#manifeste a {
	font-size: 1.5em;
}

#manifeste li div{
	display: inline-block;
}

#manifeste .rotate {
	font-size: 1em;
	color: white;
	background-color: #e74632;
	padding: 0.2em 0.5em;
	margin-right: 0.5em;
	transform: rotate(10deg);
	border-radius: 50px / 35px;
	-webkit-border-radius: 50px / 35px;
	-moz-border-radius: 50px / 35px;
}

#manifeste .rotate2 {
	color: white;
	background-color: #e74632;
	padding: 1.2em 0.5em;
	margin: 0 0.2em;
	transform: rotate(-10deg);
	border-radius: 90px / 58px;
	-webkit-border-radius: 90px / 58px;
	-moz-border-radius: 90px / 58px;
}

#acteurs h3 {
	margin-top: 2em;
	margin-bottom: 0;
}

#navPanel .logo-milieu {
	height: auto;
}

#navPanel .logo-milieu img {
	width: 12em;
	margin-bottom: 2em;
	filter: invert(100%) sepia(100%) brightness(500%);
}

#navPanel .nav-droite {
	width: auto;
	font-size: 2em;
	margin: 1em; 
	line-height: 1.5em;
}

.books {
	display: inline-block;
}

.book {
	width: 48%;
	display: inline-block;
}

.book .details {
	display: inline-block;
	width: 69%;
	vertical-align: top;
	padding:0.5em;
}

.details p {
	margin-top: 0.5em;
}

.details h4 {
	font-size: 1.2em;
}

.cover {
	display: inline-block;
	width: 29%;
}

.cover img {
	width: 100%;
}